@import url("social.css");

.googleHeader {
    background-image: url("../img/gplus-32.png");
}

.googlePaginatorLeft, .googlePaginatorRight {
    font-size: 14px;
    color: #666;
}

.googlePaginatorRight {
    position: absolute;
    right: 0;
}

.googlePaginator {
    position: relative;
    margin: 10px 0;
}

.googleUserPropertyKey {
    color: #666;
    font-style: italic;
}

.googleUserPropertyValue {
    margin-left: 5px;
}

.googleUserPropertyKey, .googleUserPropertyValue {
    font-size: 14px;
}

.googleUserImage {
    border-radius: 5px;
    margin: 0 15px 5px 0;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    float: left;
}

.googleUserInfo {
    margin-left: 120px;
}